<div>
  <passenger-count></passenger-count>
  <passenger-detail></passenger-detail>
  <h3> Airline Passenger </h3>
  <ul>
    <li *ngFor="let passenger of passengers; let i = index">
      <span
        class="status"
        [class.checked-in]="passenger.checkedIn"></span>
      {{ i }}: {{ passenger.fullname }}
      <div class="date">
        Check in date:
        {{ passenger.checkInDate ? (passenger.checkInDate | date | uppercase) : 'not checked in'}}
      </div>
      <div class="children">
        Children: {{ passenger.children?.length || 0 }}
      </div>
    </li>
  </ul>
</div>